body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.font-stylish {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cover .floral-window {
  margin-top: 1rem;
}

.scroll-to-open {
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
