* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f7e6;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #fafafa 25%, transparent 25%),
    linear-gradient(225deg, #fafafa 25%, transparent 25%),
    linear-gradient(45deg, #fafafa 25%, transparent 25%),
    linear-gradient(315deg, #fafafa 25%, #f2f7e6 25%);
  background-position: 11px 0, 11px 0, 0 0, 0 0;
  background-size: 22px 22px;
  background-repeat: repeat;
  background-attachment: fixed;

  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

@font-face {
  font-family: Malibu;
  src: url("./assets/Malibu.woff");
}

.font-stylish {
  font-family: "Malibu", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-bold {
  font-weight: 600;
}

.btn {
  background: transparent;
  outline: none;
  border: solid 1px #4b5132;
  color: #4b5132;
  font-size: 10px;
  padding: 4px;
  border-radius: 50px;
}
.btn:hover,
.btn:active {
  background-color: #4b5132;
  color: #fff;
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

nav {
  max-width: 500px;
  margin: 0 auto;

  opacity: 0;
  display: none;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: 20px;
  z-index: 999;

  background: #fefff3;
  border-radius: 50px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: rgb(251 254 234 / 67%);
  backdrop-filter: blur(25px);
  border: solid 1px #cdd3b1;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 55px;
  padding: 0px 20px;
}
nav ul li a {
  color: #4b5132;
  text-decoration: none;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 80px;
}
nav ul li.active a {
  color: #000;
}
nav ul li a span {
  line-height: 1.2rem;
}

.text-title {
  font-size: 2rem;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  overflow-x: hidden;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper,
.content {
  position: relative;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px;
}

.cover-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 450px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.cover-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.scroll-to {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.click-to-open {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 99;
  padding: 4px 10px;
}

/* Hero section */

.hero {
  background-color: #eff3e7;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4b5132;
}

.hero-text {
  text-align: center;
  margin-top: 70px;
}

.ershinta {
  margin: 40px 0px;
}

.hero .btn-save-date {
  margin-top: 4px;
  font-size: 1.2rem;
}

.hero .lbl-undangan {
  font-size: 1.8rem;
}

.hero .lbl-brides {
  font-size: 3rem;
  line-height: 2rem;
}

.hero .dekor-1,
.hero .dekor-2 {
  display: block;
  height: 45vh;
  width: 45%;
}

.hero .dekor-1 {
  position: absolute;
  top: -10px;
  right: 25px;
  background: url(./assets/dekorasi-bungah.webp) no-repeat;
  background-size: contain;
  transform: scale(-1);
}

.hero .dekor-2 {
  position: absolute;
  bottom: -10px;
  left: 25px;
  background: url(./assets/dekorasi-bungah.webp) no-repeat;
  background-size: contain;
}

/* Profile section */

.profile {
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4b5132;
}

.profile .bismillah {
  margin-bottom: 20px;
}

.profile .assalamualaikum {
  margin: 20px 0px;
}

.profile .profile-name .text-title {
  font-size: 5rem;
  color: #85872d;
}

.profile .profile-name {
  margin-top: 40px;
}

.profile .profile-name p.fullname {
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.profile-name .dan {
  font-size: 2rem;
  margin: 20px 0px;
  background: url("./assets/dekor-1.webp") no-repeat center;
  background-size: 150px;
}

/* Event section */

.event {
  background-color: #f6f6f6;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4b5132;
}

.event .event-dekor {
  margin-top: -60px;
  margin-bottom: 20px;
}

.event .event-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.event .event-item .card:not(:last-child)::after {
  content: "";
  border: solid 2px #cdcf8b;
  height: 100px;
  position: absolute;
  top: 100%;
}

.event-item .card {
  width: 100%;
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.event-item .card .actions {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.event-item .card .btn {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.event-item .card h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #4b5132;
  font-weight: normal;
}

.event-item .card p.tanggal {
  font-size: 1.3rem;
}

.event-item .card p.lokasi {
  line-height: 1rem;
}

.thread {
  padding: 20px;
}

/* End Section */

.end-section {
  margin-bottom: 100px;
  text-align: center;
  padding: 20px;
}

.my-statement {
  margin-top: 20px;
}

.my-statement p {
  padding: 0px;
  margin: 0px;
  line-height: 1.2rem;
}

.tenor-gif-embed {
  border-radius: 15px;
  overflow: hidden;
}
